h1 {
  @media #{$mq-900-down} {
    font-size: 2.2rem;
  }

  @media #{$mq-620-down} {
    font-size: 1.8rem;
  }
}

h2 {
  @media #{$mq-900-down} {
    font-size: 1.8rem;
  }

  @media #{$mq-620-down} {
    font-size: 1.4rem;
  }
}

h3 {
  @media #{$mq-900-down} {
    font-size: 1.6rem;
  }

  @media #{$mq-620-down} {
    font-size: 1.3rem;
  }
}

h4 {
  @media #{$mq-900-down} {
    font-size: 1.3rem;
  }

  @media #{$mq-620-down} {
    font-size: 1.2rem;
  }
}

h5 {
  @media #{$mq-900-down} {
    font-size: 1.15rem;
  }
}

h6 {
  @media #{$mq-900-down} {
    font-size: 0.9rem;
  }
}

// $headingsSize: (h1: 2.5rem, h2: 2rem, h3: 1.75rem, h4: 1.5rem, h5: 1.25rem, h6: 1rem);
// $headingsSizeMedium: (h1: 2.2rem, h2: 1.8rem, h3: 1.6rem, h4: 1.3rem, h5: 1.15rem, h6: 0.9rem);
// $headingsSizeSmall: (h1: 1.8rem, h2: 1.4rem, h3: 1.3rem, h4: 1.2rem);

// @each $header,
//   $size in (h1: 2.5rem, h2: 2rem, h3: 1.75rem, h4: 1.5rem, h5: 1.25rem, h6: 1rem)
// {
//   #{$header} {
//     font-size: $size;
//   }
// }
