.payment-method-form,
.shipping-address-form,
.update-profile-form {
  @extend %box-shadow-container;
  padding: 1rem;
  margin-top: 1rem;
}

.search-form {
  @media #{$mq-900-down} {
    .searchInput {
      width: 100%;
    }
  }
}
