header {
  .icon {
    font-size: 1.5rem !important;
    color: $primary-color;
    margin-left: 0.5rem;
    cursor: pointer;
  }

  .nav-link {
    font-size: 1.2rem;
    font-weight: bold;

    &:hover {
      color: $primary-color !important;
    }
  }

  .cart-badge {
    font-size: 0.7rem;
  }
}
