table {
  th {
    background-color: $primary-color;
  }

  td {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.table-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 52.7vh;
}
