@mixin button-bg($bgColor: $primary-color) {
  background-color: $bgColor;

  &:hover {
    background: darken($bgColor, 8%);
    transition: all 0.3s ease;
  }
  
  &:active {
    background: darken($bgColor, 25%);
  }
}
