@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap");
@import "./styles/main.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-top: 75px; /* because of the navbar */
  font-family: $primary-font-family;
}

.logo {
  width: 10rem;
}

.full-width {
  width: 100%;
}

.active {
  color: $primary-color !important;
}

.products-container {
  @extend %box-shadow-container;

  .row {
    margin-left: 0;
    margin-right: 0;

    .col {
      padding: 0;
    }
  }

  .products-title {
    background-color: $primary-color;
    padding: 0.5rem 1rem;
    margin-bottom: 0;
    text-transform: uppercase;
  }
}

.product-card {
  text-align: center;
  border: 1px solid gray;
  border-top: none;
  padding-bottom: 1rem;

  .product-card-subtitle {
    color: gray;
  }

  .product-card-img-a {
    width: 100%;

    .product-card-img {
      width: 80%;
      height: 20rem;
      margin: 0.5rem auto;
    }

    @media #{$mq-760-down} {
      .product-card-img {
        width: 40%;
      }
    }

    @media #{$mq-760-up} {
      .product-card-img:last-child {
        display: none;
      }
    }

    @media #{$mq-400-down} {
      .product-card-img {
        width: 80%;
      }

      .product-card-img:last-child {
        display: none;
      }
    }
  }
}

.cart-container {
  min-height: 55vh;

  .cart-info-column {
    @extend %box-shadow-container;
    padding: 1rem;

    .cart-info-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 1rem 0.5rem;
      border-top: 1px solid gray;

      .cart-image {
        width: 33px;

        @media #{$mq-900-up} {
          width: 43px;
        }
      }

      .cart-product-name {
        color: #212529;
        margin-left: 1rem;

        &:hover {
          color: $primary-color;
          text-decoration: none;
        }
      }
    }
  }

  .cart-card {
    @extend %box-shadow-container;
    padding: 0.5rem;

    .cart-title {
      margin-top: 0.5rem;
      margin-bottom: 1rem;
      font-weight: bold;

      @media #{$mq-760-down} {
        text-align: center;
      }
    }

    @media #{$mq-760-down} {
      margin-top: 2rem;
    }
  }
}

.product-details {
  .row {
    justify-content: center;

    .col {
      margin-top: 2rem;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  .product-details-img {
    @media #{$mq-760-down} {
      width: 100%;
    }

    @media #{$mq-760-up} {
      width: 85%;
      height: 85%;
    }
  }

  .product-name {
    @media #{$mq-620-down} {
      text-align: center;
    }
  }

  .product-features {
    p {
      margin: 0;

      @media #{$mq-620-up} {
        font-size: 1rem;
      }

      @media #{$mq-760-up} {
        font-size: 1.1rem;
      }
    }

    @media #{$mq-620-down} {
      text-align: center;
    }
  }

  .product-order-container {
    @extend %box-shadow-container;
    padding: 1rem;

    .free-delivery {
      text-decoration: underline;
      text-transform: uppercase;
      margin-left: 5px;
      color: rgb(6, 168, 6);
      font-weight: bold;
    }

    @media #{$mq-1000-down} {
      text-align: center;
    }
  }
}

.product-rating {
  margin-bottom: 0.5rem;

  i {
    color: $primary-color;
    font-size: 1.2rem;

    @media #{$mq-620-up} {
      font-size: 1.4rem;
    }
  }

  .product-rating-text {
    font-size: 1.2rem;
    color: gray;
    margin-bottom: 0;

    @media #{$mq-760-up} {
      font-size: 1.3rem;
    }
  }

  @media #{$mq-620-down} {
    text-align: center;
  }
}

.payment-method-container {
  min-height: 55vh;
  font-size: 1.1rem;
}

.paypal-button-row > div {
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.profile-title-color {
  color: $primary-title-color;
}

.order-details {
  @extend %box-shadow-container;
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 1.1rem;

  .order-title {
    color: $primary-title-color;
  }

  .order-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 0.5rem;
    border-top: 1px solid gray;

    .order-img {
      width: 33px;

      @media #{$mq-900-up} {
        width: 38px;
      }
    }

    .order-name {
      color: #212529;

      &:hover {
        text-decoration: none;
        color: $primary-color;
      }
    }
  }
}

.order-summary {
  @extend %box-shadow-container;
  padding: 1rem;
  font-size: 1.2rem;

  .total-price-row {
    font-size: 1.4rem;
    color: $primary-title-color;
  }
}

.checkout-steps {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;

  .nav-item {
    flex: 0.3;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;

    .nav-item-link {
      display: block;
      background-color: $primary-color;
      color: #212529;
      padding: 0.5rem 1rem;
      text-decoration: none;
      border-bottom: 3px solid black;

      @media #{$mq-760-down} {
        padding: 0.5rem 0.8rem;
      }
    }

    @media #{$mq-760-down} {
      font-size: 1rem;
    }
  }
}

.product-review-container {
  @extend %box-shadow-container;
  padding: 1rem;
  margin-top: 5rem;

  .product-review-title,
  .product-review-form-title {
    @media #{$mq-760-down} {
      text-align: center;
    }
  }

  .product-review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #555;
    color: #fff;
    font-size: 1.1rem;

    .product-rating {
      margin-bottom: 0;
    }
  }

  .product-review-content {
    p {
      width: 100%;
      min-height: 100px;
      background-color: lightgray;
      position: relative;
      padding: 0.5rem;
      border-bottom: 3px solid #444;

      .badge {
        position: absolute;
        right: 0.5rem;
        bottom: 0.5rem;
      }
    }
  }
}

.user-list-buttons,
.product-list-buttons {
  display: flex;
  justify-content: space-evenly;
}

.user-edit-page-container,
.product-edit-page-container {
  @extend %box-shadow-container;
  max-width: 720px;
  margin: 0 auto;
  padding: 1rem;
}

/* Register and Login pages */
.register-container,
.login-container {
  @extend %box-shadow-container;
  width: 60%;
  margin: 0 auto;
  padding: 1rem;

  @media #{$mq-1000-down} {
    width: 70%;
  }

  @media #{$mq-760-down} {
    width: 90%;
  }
}
