@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap");
@import "./styles/main.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-top: 75px; /* because of the navbar */
  font-family: $primary-font-family;
}

.logo {
  width: 10rem;
}

.full-width {
  width: 100%;
}

.active {
  color: $primary-color !important;
}

.featured-products {
  @extend %box-shadow-container;

  .row {
    margin-left: 0;
    margin-right: 0;

    .col {
      padding: 0;
    }
  }

  .featured-products-title {
    background-color: $primary-color;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    margin-bottom: 0;

    @media #{$mq-400-down} {
      font-size: 1.3rem;
      margin-top: 0.5rem;
    }
  }
}

.product-card {
  text-align: center;
  border: 1px solid gray;
  border-top: none;
  padding-bottom: 1rem;

  .product-card-title {
    @media #{$mq-760-down} {
      font-size: 1.5rem;
    }
  }

  .product-card-subtitle {
    color: gray;
  }

  .product-card-img-a {
    width: 100%;

    .product-card-img {
      width: 80%;
      height: 20rem;
      margin: 0.5rem auto;
    }

    @media #{$mq-760-down} {
      .product-card-img {
        width: 40%;
      }
    }

    @media #{$mq-760-up} {
      .product-card-img:last-child {
        display: none;
      }
    }

    @media #{$mq-400-down} {
      .product-card-img {
        width: 80%;
      }

      .product-card-img:last-child {
        display: none;
      }
    }
  }

  .product-card-text {
    @media #{$mq-760-down} {
      font-size: 1.4rem;
    }
  }
}

.cart-info-column {
  @extend %box-shadow-container;
  padding: 1rem;

  .cart-info-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 0.5rem;
    border-top: 1px solid gray;

    .cart-image {
      width: 50%;
      height: 50%;
    }

    .cart-product-name {
      color: #212529;

      &:hover {
        color: $primary-color;
        text-decoration: none;
      }
    }
  }
}

.cart-card {
  @extend %box-shadow-container;
  padding: 0.5rem;

  .cart-title {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-weight: bold;

    @media #{$mq-760-down} {
      text-align: center;
    }
  }

  @media #{$mq-760-down} {
    margin-top: 2rem;
  }
}

.product-details {
  .col {
    margin-top: 2rem;

    &:first-child {
      margin-top: 0;
    }
  }

  .product-details-img {
    @media #{$mq-760-up} {
      width: 85%;
      height: 85%;
    }
  }

  @media #{$mq-760-down} {
    text-align: center;

    .product-price {
      font-size: 1.3rem;
      font-weight: bold;
    }
  }
}

.product-order-container {
  @extend %box-shadow-container;
  padding: 1rem;

  .free-delivery {
    text-decoration: underline;
    text-transform: uppercase;
    margin-left: 5px;
    color: rgb(6, 168, 6);
    font-weight: bold;
  }
}

.product-rating {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;

  h6 {
    color: gray;
    margin: 0;
  }

  i {
    color: $primary-color;
  }

  .product-rating-text {
    font-size: 1rem;
    color: gray;
    margin-bottom: 0;
  }

  @media #{$mq-760-down} {
    font-size: 1.5rem;
  }
}

.product-features p {
  margin: 0;
  font-size: 1.1rem;
}

.payment-method-label {
  font-size: 1.2rem;
}

.place-order-div {
  @extend %box-shadow-container;
  padding: 1rem;

  .title-color {
    color: $primary-title-color;
  }

  .place-order-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 0.5rem;
    border-top: 1px solid gray;

    .place-order-img {
      width: 50%;
      height: 70%;

      @media #{$mq-620-down} {
        width: 40px;
      }
    }

    .product-name {
      color: #212529;

      &:hover {
        color: $primary-color;
      }
    }
  }
}

.place-order-summary-div {
  @extend %box-shadow-container;
  padding: 1rem;

  .total-price-row {
    font-size: 1.3rem;
    color: $primary-title-color;
  }

  @media #{$mq-760-down} {
    margin-top: 1rem;
  }
}

.checkout-steps {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;

  .nav-item {
    flex: 0.3;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;

    .nav-item-link {
      display: block;
      background-color: $primary-color;
      color: #212529;
      padding: 0.5rem 1rem;
      text-decoration: none;
      border-bottom: 3px solid black;
    }
  }
}

.order-item-div {
  @extend %box-shadow-container;
  padding: 1rem;

  .title-color {
    color: $primary-title-color;
  }

  .order-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 0.5rem;
    border-top: 1px solid gray;

    .item-img {
      width: 50%;
      height: 70%;
    }

    .item-name {
      color: #212529;

      &:hover {
        color: $primary-color;
        text-decoration: none;
      }
    }
  }
}

.order-summary-div {
  @extend %box-shadow-container;
  padding: 1rem;

  .total-price-row {
    font-size: 1.3rem;
    color: $primary-title-color;
  }

  .paypal-button-row > div {
    width: 100%;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.profile-title-color {
  color: $primary-title-color;
}

.product-review-container {
  @extend %box-shadow-container;
  padding: 1rem;
  margin-top: 5rem;

  .product-review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
    font-size: 1.1rem;
  }
}

.user-list-buttons,
.product-list-buttons {
  display: flex;
  justify-content: space-evenly;
}

.user-edit-page-container,
.product-edit-page-container {
  max-width: 720px;
  @extend %box-shadow-container;
  margin: 0 auto;
  padding: 1rem;
}

.fav-products-container {
  @extend %box-shadow-container;

  .row {
    margin-left: 0;
    margin-right: 0;

    .col {
      padding: 0;
    }
  }

  .fav-products-title {
    background-color: $primary-color;
    padding: 0.5rem 1rem;
    margin-bottom: 0;
  }
}

#admin-menu {
  color: black;
}

/* Register and Login pages */
.register-container,
.login-container {
  width: 60%;
  @extend %box-shadow-container;
  margin: 0 auto;
  padding: 1rem;

  @media #{$mq-620-down} {
    width: 100%;
  }
}
