@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap");
@import "./styles/main.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-top: 75px; /* because of the navbar */
  font-family: $primary-font-family;
}

.logo {
  width: 10rem;
}

.active {
  color: $primary-color !important;
}

.products {
  @extend %box-shadow-container;
  padding: 0;

  .row {
    margin-left: 0;
    margin-right: 0;

    .col {
      padding: 0;
    }
  }

  &__title {
    background-color: $primary-color;
    padding: 0.5rem 1rem;
    margin-bottom: 0;
    text-transform: uppercase;
  }
}

.product-card {
  text-align: center;
  border: 1px solid gray;
  border-top: none;
  padding-bottom: 1rem;

  &__subtitle {
    color: gray;
  }

  &__image-wrapper {
    width: 100%;
  }

  &__image {
    width: 80%;
    height: 20rem;
    margin: 0.5rem auto;

    @media #{$mq-760-up} {
      &:last-child {
        display: none;
      }
    }

    @media #{$mq-760-down} {
      width: 40%;
    }

    @media #{$mq-400-down} {
      width: 80%;

      &:last-child {
        display: none;
      }
    }
  }
}

.cart__container {
  min-height: 55vh;

  .cart__info {
    @extend %box-shadow-container;
    padding: 1rem;

    &-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 1rem 0.5rem;
      border-top: 1px solid gray;
    }

    &-image {
      width: 33px;

      @media #{$mq-900-up} {
        width: 43px;
      }
    }

    &-product-name {
      color: #212529;
      margin-left: 1rem;

      &:hover {
        color: $primary-color;
        text-decoration: none;
      }
    }
  }

  .cart__purchase-info {
    @extend %box-shadow-container;
    padding: 0.5rem;

    &-title {
      margin-top: 0.5rem;
      margin-bottom: 1rem;
      font-weight: bold;

      @media #{$mq-760-down} {
        text-align: center;
      }
    }

    @media #{$mq-760-down} {
      margin-top: 2rem;
    }
  }
}

.product-details {
  .col {
    margin-top: 1rem;

    &:first-child {
      margin-top: 0;
    }
  }

  &__image {
    @media #{$mq-760-down} {
      width: 100%;
    }

    @media #{$mq-760-up} {
      width: 85%;
      height: 85%;
    }
  }

  &__name {
    @media #{$mq-620-down} {
      text-align: center;
    }
  }

  &__features {
    p {
      margin: 0;

      @media #{$mq-620-up} {
        font-size: 1rem;
      }

      @media #{$mq-760-up} {
        font-size: 1.1rem;
      }
    }

    @media #{$mq-620-down} {
      text-align: center;
    }
  }

  &__order-container {
    @extend %box-shadow-container;
    padding: 1rem;

    .free-delivery {
      text-decoration: underline;
      text-transform: uppercase;
      margin-left: 5px;
      color: rgb(6, 168, 6);
      font-weight: bold;
    }

    @media #{$mq-1000-down} {
      text-align: center;
    }
  }
}

.product-rating {
  margin-bottom: 0.5rem;

  i {
    color: $primary-color;
    font-size: 1.2rem;

    @media #{$mq-620-up} {
      font-size: 1.4rem;
    }
  }

  &__text {
    font-size: 1.2rem;
    color: gray;
    margin-bottom: 0;

    @media #{$mq-760-up} {
      font-size: 1.3rem;
    }
  }

  @media #{$mq-620-down} {
    text-align: center;
  }
}

.profile {
  &__title {
    color: $primary-title-color;
  }

  &__table {
    min-height: 315px;
    margin-top: 0.5rem;
  }
}

.order-info {
  &__details {
    @extend %box-shadow-container;
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 1.1rem;
  }

  &__title {
    color: $primary-title-color;
  }

  &__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 0.5rem;
    border-top: 1px solid gray;
  }

  &__product-image {
    width: 33px;

    @media #{$mq-900-up} {
      width: 38px;
    }
  }

  &__product-name {
    color: #212529;

    &:hover {
      text-decoration: none;
      color: $primary-color;
    }
  }

  &__button {
    margin-top: 0.5rem;
  }

  &__paypal-button-wrapper > div {
    width: 100%;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }

  &__summary {
    @extend %box-shadow-container;
    padding: 1rem;
    font-size: 1.2rem;

    &-title {
      text-align: center;
      margin-bottom: 1rem;
    }

    &-total-price {
      font-size: 1.4rem;
      color: $primary-title-color;
    }
  }
}

.checkout-steps {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;

  &__nav-item {
    flex: 0.3;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;

    @media #{$mq-760-down} {
      font-size: 1rem;
    }
  }

  &__nav-link {
    display: block;
    background-color: $primary-color;
    color: #212529;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-bottom: 3px solid black;

    @media #{$mq-760-down} {
      padding: 0.5rem 0.8rem;
    }
  }
}

.product-review {
  @extend %box-shadow-container;
  padding: 1rem;
  margin-top: 5rem;

  &__title,
  &__form-title {
    @media #{$mq-760-down} {
      text-align: center;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #555;
    color: #fff;
    font-size: 1.1rem;
    padding: 0 0.5rem;

    .product-rating {
      margin-bottom: 0;
    }
  }

  &__content {
    p {
      width: 100%;
      min-height: 100px;
      background-color: lightgray;
      position: relative;
      padding: 0.5rem;
      border-bottom: 3px solid #444;

      .badge {
        position: absolute;
        right: 0.5rem;
        bottom: 0.5rem;
      }
    }
  }
}

.payment-method__container {
  min-height: 55vh;
  font-size: 1.1rem;
}

.user-edit-page-container,
.product-edit-page-container {
  @extend %box-shadow-container;
  max-width: 720px;
  margin: 0 auto;
  padding: 1rem;
}

.register-container,
.login-container {
  @extend %box-shadow-container;
  width: 60%;
  margin: 0 auto;
  padding: 1rem;

  @media #{$mq-1000-down} {
    width: 70%;
  }

  @media #{$mq-760-down} {
    width: 90%;
  }
}

.login-container {
  margin-bottom: 4.6rem;
}

.admin__container {
  margin-top: -30px;

  @media #{$mq-900-down} {
    margin-top: -26px;
  }
}

.admin__buttons-wrapper {
  display: flex;
  justify-content: space-evenly;
}
