.btn {
  border: none;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;

  &-icon {
    font-size: 1.1rem;
  }

  &-search {
    border: 1px solid green;
    color: green;
    font-size: 0.8rem;

    &:hover {
      background-color: green;
      color: white;
    }

    @media #{$mq-1000-down} {
      display: none;
    }
  }

  &-cart {
    @include button-bg($primary-color);
  }

  &-continue {
    @include button-bg($primary-color);
    font-size: 0.9rem;
    width: 100%;
  }

  &-payment {
    @include button-bg($primary-color);
    font-size: 0.8rem;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
  }

  &-place-order {
    @include button-bg($primary-color);
    margin-top: 1rem;
    font-size: 0.9rem;
  }

  &-update-profile {
    @include button-bg($primary-color);
    margin-top: 0.5rem;
    font-size: 0.9rem;
  }

  &-order-details {
    width: 100%;
    padding: 0;
    color: rgb(63, 63, 240);
    border: 1px solid rgb(63, 63, 240);
    font-size: 0.8rem;

    &:hover {
      background-color: rgb(63, 63, 240);
      color: white;
    }
  }
}

.add-to-cart {
  @include button-bg($primary-color);
  margin-top: 1rem;
  font-size: 1rem;

  @media #{$mq-760-down} {
    font-size: 0.9rem;
  }
}

.add-to-favourites {
  @include button-bg(lightgray);
  margin-top: 0.5rem;
  font-size: 1rem;

  @media #{$mq-760-down} {
    font-size: 0.9rem;
  }
}

.remove-from-favourites {
  @include button-bg(rgb(235, 45, 45));
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

.cart-remove-item-btn {
  background-color: transparent;
  color: red;
  font-size: 1.3rem;
  border: none;
}

.product-review-delete-btn {
  background-color: transparent;
  color: red;
  margin-right: 0.5rem;
  border: none;
}

.review-btn {
  @include button-bg($primary-color);
  margin-top: 1rem;
  font-size: 0.9rem;
}

.user-edit-btn,
.product-list-edit-btn {
  color: rgb(45, 45, 226);
  border: none;
}

.user-delete-btn,
.product-list-delete-btn {
  color: red;
  border: none;
}

.product-list-create-btn {
  background-color: green;
  color: white;

  &:hover {
    background-color: transparent;
    color: green;
    border: 2px solid green;
  }
}

.user-edit-page-btn,
.product-edit-page-btn {
  @include button-bg($primary-color);
  font-size: 0.9rem;
}

.register-btn,
.login-btn {
  @include button-bg($primary-color);
  width: 100%;
  font-size: 0.9rem;
  margin-top: 1rem;
}
