.btn {
  border: none;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;

  &-main {
    @include button-bg($primary-color);
    font-size: 0.9rem;
  }

  &-red {
    background-color: transparent;
    color: red;
    border: none;

    &:hover {
      transform: scale(1.2);
    }
  }

  &-blue {
    background-color: transparent;
    color: rgb(45, 45, 226);
    border: none;

    &:hover {
      transform: scale(1.2);
    }

    &--bordered {
      padding: 0;
      color: rgb(45, 45, 226);
      border: 1px solid rgb(45, 45, 226);
      font-size: 0.9rem;

      &:hover {
        background-color: rgb(45, 45, 226);
        color: white;
      }
    }
  }

  &-green {
    border: 2px solid green;
    color: green;
    font-size: 0.8rem;

    &:hover {
      background-color: green;
      color: white;
    }

    &--hidden-below-1000 {
      @media #{$mq-1000-down} {
        display: none;
      }
    }
  }

  &-full-width {
    width: 100%;
  }

  &-icon {
    font-size: 1.1rem;
  }

  &-cart {
    @include button-bg($primary-color);
  }
}

.add-to-cart {
  @include button-bg($primary-color);
  margin-top: 1rem;
  font-size: 1rem;

  @media #{$mq-760-down} {
    font-size: 0.9rem;
  }
}

.add-to-favourites {
  @include button-bg(lightgray);
  margin-top: 0.5rem;
  font-size: 1rem;

  @media #{$mq-760-down} {
    font-size: 0.9rem;
  }
}

.remove-from-favourites {
  @include button-bg(rgb(235, 45, 45));
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

.cart-remove-item-btn {
  background-color: transparent;
  color: red;
  border: none;
  font-size: 1.3rem;
}
