.btn {
  border: none;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;

  &-main {
    @include button-bg($primary-color);
    font-size: 0.9rem;
  }

  &-full-width {
    width: 100%;
  }

  &-cart {
    @include button-bg($primary-color);
  }

  $colors: red, green, blue;
  @each $color in $colors {
    &-#{$color} {
      @include button-variant($color);
    }
  }

  &.hidden-below-1000 {
    @media #{$mq-1000-down} {
      display: none;
    }
  }
}

.add-to-cart {
  @include button-bg($primary-color);
  margin-top: 1rem;
  font-size: 1rem;

  @media #{$mq-760-down} {
    font-size: 0.9rem;
  }

  i {
    font-size: 1.1rem;
  }
}

.add-to-favourites {
  @include button-bg(lightgray);
  margin-top: 0.5rem;
  font-size: 1rem;

  @media #{$mq-760-down} {
    font-size: 0.9rem;
  }

  i {
    font-size: 1.1rem;
  }
}

.remove-from-favourites {
  @include button-bg(rgb(235, 45, 45));
  margin-top: 0.5rem;
  font-size: 0.9rem;

  i {
    font-size: 1.1rem;
  }
}

.cart-remove-item-btn {
  font-size: 1.3rem;
}
