.product-carousel {
  margin-top: -50px;
  margin-bottom: 5rem;
  height: 70vh;

  .carousel-inner {
    height: 90%;

    .carousel-item {
      height: 100%;

      .img-link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 70%;
        height: 100%;
        margin: 0 auto;

        .img {
          object-fit: cover;
          height: 100%;
        }

        .carousel-caption-title {
          background-color: black;
          opacity: 0.7;
          width: 70%;
          margin: auto;

          @media #{$mq-760-down} {
            width: 80% !important;
          }
        }

        @media #{$mq-760-down} {
          width: 77%;
        }
      }
    }
  }
}
