.product-carousel {
  margin-top: -50px;
  margin-bottom: 5rem;
  height: 70vh;

  .carousel-inner {
    height: 90%;

    .carousel-item {
      height: 100%;

      .img-link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 70%;
        height: 100%;
        margin: 0 auto;

        .img {
          object-fit: cover;
          height: 100%;
        }

        @media #{$mq-760-down} {
          width: 77%;

          .carousel-caption h2 {
            width: 80% !important;
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}
